.header {
    color: white;
    background-color: #374151;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 2rem;
    
}

.logo {
    width: 4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.shop-name {
    align-self: center;
}